#allTheThings {
  width: 90%;
  max-width: 800px;
  text-align: center;
  margin: 8em auto;
  font-size: 1.3rem;
  color: #94aab0;
  display: flex;
  align-items: stretch;
}

a{
	color: #94aab0;
	text-decoration: none;
}

#member{
	display: block;
}


#verticalLine {
	display: inline-block;
	margin-left: 20px;
    border-left: solid #343642;
}

#librarian-link{
	margin-left: 20px;
}

#member, #librarian, #staff, #faculty, #admin
{
	transition: all .2s ease-in-out;
}

#member:hover, #librarian:hover, #admin:hover, #faculty:hover, #staff:hover
{
	transform: scale(1.1);
}